.slogan{
    font-size: 1.5rem;
    text-align: center;
    padding: 80px 20px;
    font-family: 'Smiley Sans Oblique', serif;
    color: #434040;
    text-shadow: -1px -1px 15px #e3e3e3;
}

.post{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content{
    margin-top: 40px;
}
.cover{
    height: 180px;
    width: 320px;
}
.post-container{
    margin-top: 60px;
}
.post-item{
    .pinned{
        display: inline-block;
        svg{
            height: 23px;
            width: auto;
            transform: translate(2px,5px);
            fill: #615d5d;
        }
    }
    .prefix{
        font-size: 1.4rem;
        display: inline-block;
        color: #702222;
    }
    .post-title{
        font-size: 1.5rem;
        display: inline-block;
    }
    .post-summary{
        margin-top: 20px;
    }
    .post-meta{
        margin-top: 10px;
        display: flex;
        font-size: 0.8rem;
        color: #615d5d;
        a{
            margin-right: 5px;
        }
        svg{
            height: 16px;
            width: auto;
            fill: #615d5d;
            margin-right: 5px;
            transform: translateY(8px);
        }
        .tags{
            display: flex;
        }
        .categories{
            display: flex;
        }
    }
}

.pager{
    display: flex;
    margin-top: 100px;
    gap: 50px;
    color: #702222;
    text-decoration: underline;
    justify-content: center;
}


@font-face {
    font-family: 'Smiley Sans Oblique';
    src: url('../font/SmileySans-Oblique.ttf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}