.slogan{
    font-size: 1.5rem;
    text-align: center;
    padding: 100px 20px;
}

.post{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    height: 180px;
    width: 320px;
    border: 1px solid black;
}
.post-container{
    margin-top: 60px;
}
.post-item{
    margin-left: 30px;
    .pinned{
        font-size: 1.4rem;
        display: inline-block;
        color: #702222;
    }
    .post-title{
        font-size: 1.5rem;
        display: inline-block;
    }
    .post-summary{
        margin-top: 20px;
    }
    .post-meta{
        margin-top: 10px;
        display: flex;
        font-size: 0.8rem;
        color: #615d5d;
        a{
            margin-right: 5px;
        }
    }
}