*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 1200px;
  line-height: 2rem;
  .bg-decorate{
    content: "";
    display: block;
    height: 1000px;
    width: 1000px;
    position: absolute;
    left: -300px;
    top: -750px;
    animation-name: headerAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

.container{
  margin: 0 auto;
  width: 1000px;
  padding: 20px 100px;
}

.header-container{
  display: flex;
  justify-content: space-between;

  .logo-container{
    display: flex;
    align-items: center;
    .logo{
      height: 36px;
      width: 36px;
    }
    .title{
      font-size: 1.5rem;
      font-weight: bolder;
      margin-left: 10px;
      color: #353535;
    }
  }

  .menu-container{
    ul{
      display: flex;
      list-style-type: none;
      li{
        margin-left: 20px;
        color: #615d5d;
      }
    }

  }
}
.footer-container{
  font-size: 0.8rem;
  color: #615d5d;
  position: absolute;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  padding: 0 40px;
  z-index: 1;
  .footer-decorate{
    content: "";
    display: block;
    height: 1000px;
    width: 1000px;
    top: 0;
    left: 0;
    position: absolute;
    animation-name: footerAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
  }
  .footer{
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    .footer-left{
      display: flex;
      div{
        margin-right: 10px;
      }
    }
  }
}

@keyframes footerAnimation {
  0%{
    border-radius: 37% 63% 26% 74% / 25% 86% 14% 75%;
  }
  50%{
    border-radius: 35% 65% 26% 74% / 68% 86% 14% 32%;
  }
  100%{
    border-radius: 37% 63% 26% 74% / 25% 86% 14% 75%;
  }
}

@keyframes headerAnimation {
  0%{
    border-radius: 27% 73% 36% 64% / 14% 58% 42% 86%;
  }
  50%{
    border-radius: 30% 70% 37% 63% / 30% 51% 49% 70% ;
  }
  100%{
    border-radius: 27% 73% 36% 64% / 14% 58% 42% 86%;
  }
}