<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
  <link rel="stylesheet" th:href="|@{/assets/css/archive.css}?v=${theme.spec.version}|" />
</th:block>

  <th:block th:fragment="content">
    <h1>分类目录</h1>
    <div class="categories" th:each="category : ${categories}">
      <div class="category-item">
        <div class="category-name">
          <a
                  th:href="@{${category.status.permalink}}"
                  th:text="${category.spec.displayName}"
          ></a>
        </div>
        <div class="category-post-count">
          (<span th:text="${category.status.visiblePostCount}"></span>)
        </div>
      </div>
    </div>
  </th:block>
</html>
