<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>
  <th:block th:fragment="content">
    <div class="slogan">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda dicta est impedit libero magnam minima mollitia natus perferendis reprehenderit.
    </div>
    <th:block th:replace="~{component/post-list::post-list}">

    </th:block>
    <a th:if="${posts.hasPrevious()}" th:href="@{${posts.prevUrl}}">上一页</a>
    <a th:if="${posts.hasNext()}" th:href="@{${posts.nextUrl}}">下一页</a>
  </th:block>
</html>
