<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head,content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2"
    />
    <title th:text="${site.title}"></title>
    <link rel="stylesheet" th:href="|@{/assets/css/style.css}?v=${theme.spec.version}|" />
    <link rel="stylesheet" th:href="|@{/assets/css/index.css}?v=${theme.spec.version}|" />
    <link rel="stylesheet" th:href="|@{/assets/css/animate.min.css}?v=${theme.spec.version}|" />
    <link rel="icon" th:href="${theme.config.base.logo}" type="image/png">
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block>
  </head>
  <body th:style="'background-color: '+${theme.config.style.background_color ?: '#f2f2f2'}">
    <div class="container animate__animated animate__fadeIn">
      <div class="bg-decorate" th:style="'background: '+${theme.config.style.theme_color ?: '#CBD6FA'}"></div>
      <div class="header-container">
        <div class="logo-container">
          <div class="logo" th:style="|background: url(${theme.config.base.logo}) no-repeat; background-size: cover;|">
          </div>
          <div class="title animate__animated animate__flipInX" >
            <a href="/" th:text="${theme.config.base.title}"></a>
          </div>
        </div>

        <div class="menu-container" th:with="menu = ${menuFinder.getPrimary()}">
          <ul>
            <li th:each="menuItem : ${menu.menuItems}">
              <a th:href="@{${menuItem.status.href}}"
                 th:text="${menuItem.status.displayName}"
                 th:target="${menuItem.spec.target?.value}"
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content animate__animated animate__slideInUp">
        <th:block th:replace="${content}" />
      </div>
    </div>
    <div class="footer-container" th:style="'background: '+${theme.config.style.primary_color ?: '#CBD6FA'}">
      <div class="footer-decorate" th:style="'background: '+${theme.config.style.theme_color ?: '#a8b7ef'}"></div>
      <div class="footer">
        <div class="footer-left">
          <div class="copyright" th:utext="${theme.config.base.copyright}"></div>
          <div class="site-info"></div>
          <div class="theme">Powered By <a href="https://github.com/luijp/theme-s1mp1e" target="_blank">S1mp1e</a></div>
        </div>
        <div class="footer-right">
          <div class="icp" th:if="${theme.config.base.icp_text}">
            <a
                    th:href="${theme.config.base.icp_url ?: 'javascript:void(0);'}"
                    th:text="${theme.config.base.icp_text}"
                    target="_blank"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <script>
      const domainName = window.location.hostname;
      document.querySelector('.site-info').innerText = domainName;
    </script>
  </body>
</html>
