<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>
  <th:block th:fragment="content">
    <h1 th:text="${tag.spec.displayName}"></h1>
    <th:block th:replace="~{component/post-list::post-list}" />
    <div class="pager" th:if="${posts.hasPrevious() || posts.hasNext()}">
      <a
              th:href="@{${posts.prevUrl}}"
      >
        <span>上一页</span>
      </a>
      <span th:text="${posts.page} +' / '+ ${posts.total}"></span>
      <a
              th:href="@{${posts.nextUrl}}"
      >
        <span>下一页</span>
      </a>
    </div>
  </th:block>
</html>
