<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = ~{::head}, title='标签', content = ~{::content})}"
>
<th:block th:fragment="head">
  <link rel="stylesheet" th:href="|@{/assets/css/archive.css}?v=${theme.spec.version}|" />
</th:block>

  <th:block th:fragment="content">
    <h1>标签</h1>
    <div class="tags" th:each="tag : ${tags}">
      <div class="tag-item">
        <div class="tag-name">
          <a
                  th:href="@{${tag.status.permalink}}"
                  th:text="${tag.spec.displayName}"
          ></a>
        </div>
        <div class="tag-post-count">
          (<span th:text="${tag.status.visiblePostCount}"></span>)
        </div>
      </div>
    </div>
  </th:block>
</html>
